body {
    margin: 0;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
    padding: 10px;
    margin-bottom: 30px;
}

label {
    position: relative;
    padding: 15px;
}

.inp-add-stud {
    width: 380px;
    padding: 24px 0 24px 20px;
    border-radius: 10px;
    border: none;
}

span {
    position: absolute;
    color: red;
    font-size: 11px;
    top: 0;
    left: 15px;
}

#table {
    margin-bottom: 30px;
}

#btn {
    padding: 19px 53px;
    border-radius: 10px;
    color: #fff;
    background-color: #FF5C00;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-left: 15px;
}

#filterWrapper {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.inp-search {
    width: 380px;
    padding: 24px 0 24px 20px;
}

.inp-search:not(:last-child) {
    margin-bottom: 15px;
}